.wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 5px;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  position: relative;
  padding: .75em 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: .25rem;
  transition: opacity .15s linear;
}

.toolbar {
  overflow: hidden;
  width: auto;
  display: inline;
}

.toolbar > button {
  float: left;
  margin-left: 10px;
}

.inputControlLength {
  width: 180px;
}
