.wrapper {
  border: 1px dotted cornflowerblue;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
}

.wrapper2 {
  padding: 5px;
}

.wrapper p {
  margin: 0;
  display: inline-block;
}

.wrapper button {
  float: right;
}